#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
  /* min-height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0; */
  /* box-sizing: border-box; */
}

.app-grid-container {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 10% 45% 45%;
  grid-template-rows: 7% 43% 43% 7%;
  grid-template-areas:
    'banner banner banner'
    'nav main main'
    'nav main main'
    'footer footer footer';
}

.app-banner {
  grid-area: banner;
  background-color: #DADADA;
}

.app-nav {
  grid-area: nav;
  background-color: #F2EFEF;
}

.main-content {
  height: 100%;
  width: 100%;
  grid-area: main;
  background-color: #FDFAF5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-footer {
  grid-area: footer;
  background-color: #DADADA;
}